<% for (var i = 1; i < current["statewise"].length; i++) { %>
<tr>
  <th scope="row"><%= current["statewise"][1].state %></th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
  <td>@mdo</td>
</tr>
<% } %>

<tr>
  <th scope="row">Mharashtra</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
  <td>@mdo</td>
</tr>
